#search{
    border: solid black 1px;

    height: 1.4rem;

    width: 14rem;

    margin-left: 3.8rem;
}

#BtnSearch{

    border: solid black 1px;

    margin-top: 0.4rem;

    width: 3.5rem;
    height: 1.4rem;

    margin-left: 2px;
}

#BtnSearch:hover{
    cursor: pointer;
}