.InputsBox{
    /* border: black solid 1px; */

    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10px;

    padding-bottom: 10px;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.LabelN{
    margin-left: 5px;

    font-weight: 700;

    margin-right: 50px;

}

.LabelP{
    margin-left: 5px;

    font-weight: 700;

    margin-right: 22px;

}

.LabelRL{
    margin-left: 5px;

    font-weight: 700;

    margin-right: 29px;

}

.LabelRA{
    margin-left: 5px;

    font-weight: 700;

    margin-right: 46px;

}

.LabelD{
    margin-left: 5px;

    font-weight: 700;

    margin-right: 10px;

}

.InpN{
    border: solid black 1px;

    width: 25rem;

    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

    margin-bottom: 1rem;
}

.InpP{
    border: solid black 1px;

    width: 25rem;

    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

    margin-top: 5px;

    margin-bottom: 1rem;
}

.InpRL{
    border: solid black 1px;

    width: 25rem;

    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

    margin-top: 5px;
    margin-bottom: 1rem;

}

.InpRA{
    border: solid black 1px;

    width: 25rem;

    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

    margin-top: 5px;
    margin-bottom: 1rem;

}

.InpD{
    border: solid black 1px;

    width: 25rem;
    height: 10rem;

    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

    margin-top: 5px;
    margin-bottom: 1rem;

}

.Checkbox{

    background-color: rgb(255, 255, 255, 0.8);

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

    border: solid black 2px;
    border-radius: 1rem;

    width: 50rem;

    height: 20rem;

    font-weight: 700;

    padding: 5px;

    margin-left: 23%;
    margin-top: 5px;
}

.CheckboxContainer{

    margin-bottom: 5rem;
    margin-right: 1px;

    height: 45px;
    width: 7rem;

    border: rgb(255, 255, 255, 0.1) solid 1px;
}

.TextCubeHover{
    font-weight: 700;
    font-size: 1rem;
}



.CubeHover:hover{
    cursor: pointer;
}

#BtnSub{
    border: solid black 1px;
    border-radius: 1rem;

    background-color: white;

    margin-bottom: 0.4rem;
}

#BtnSub:hover{
    cursor: pointer;

    color: white;

    background-color: red;
}

.ErrorMessage{
    color: red;
    font-weight: 700;

}

.ErrorMessageBtn{
    color: rgb(0, 0, 0);

    font-weight: 900;

    padding-bottom: 10px;

}