.DetBox{

    border: solid rgba(247, 29, 29) 1px;
    border-radius: 2rem;

    margin-top: 1rem;
    margin-left: 30%;

    background-color: rgb(255, 255, 255, 0.8);

    width: 40rem;

    text-align: center;
}

#DetId{

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    margin-left: 13%;
}

#DetName{
    font-size: 180%;

    margin-top: 0;
    margin-bottom: 10px;
}

#DetImg{
    width: 30rem;
    height: 16rem;

    border-radius: 1rem;
}

.DetBoxChar{

    border: solid black 4px;
    border-radius: 1rem;
    
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;

    margin-left: 12%;
    margin-right: 12%;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

#DetG{
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
    margin-left: 5%;
    margin-right: 5%;


    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

#DetP{
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
    margin-left: 4%;
    margin-right: 5%;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    font-size: 14.5px;
}

#DetRl{
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
    margin-left: 5%;
    margin-right: 5%;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

#DetRa{
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
    margin-left: 5%;
    margin-right: 5%;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

#DetD{
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
    margin-left: 5%;
    margin-right: 5%;

    font-size: 1rem;/*tamaño letra*/
    text-align: justify;/*texto ordenado*/

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

}

#TextD{
    font-weight: 400;
}