.ContainerFilters{
    background-color: rgb(255, 255, 255, 0.8);

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

    border: solid black 2px;
    border-radius: 2rem;

    width: 60rem;

    height: 5rem;

    font-weight: 700;

    padding: 5px;

    margin-left: 20%;
    margin-top: 5px;
}

/* filtros por separado */
#FilterGenres{
    border: solid black 1px;
    border-radius: 1rem;

    padding: 0;

    width: 12rem;
    height: 5rem;
}


#FilterAPIyDB{
    border: solid black 1px;
    border-radius: 1rem;
    
    padding: 0;
    height: 5rem;
}

/* order */
#OrderRatingAZ{
    border: solid black 1px;
    border-radius: 0.5rem;
    
    padding: 0;
    height: 5rem;
}

/* selects */
.form-control{
    border: solid black 1px;

    margin-top: 1px;
    margin-bottom: 1px;

    padding: 0;
}

.form-control:hover{
    cursor: pointer;
}

/* btn submit */
#BtnClear{
    border: solid black 1px;
    border-radius: 3rem;

    font-weight: 800;

    height: 40px;
    width: 200px;

    padding: 0;

    margin-top: 20px;

}
#BtnClear:hover{
    cursor: pointer;
}